body {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

/*
.sexy {
	font-family: 'Pinyon Script';
	font-size: 56px;
	position: absolute;
	top: 41%;
	left: 39%;
}

.elipse-wrapper {
	width: 100vh;
	height: 100vh;
	margin: auto;
	padding-left: 170px;
	margin-top: -30px;
}
*/

.contenido {
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
}

.sexy19-wrapper {
	margin-bottom: 20px;
}

.elipse {
	position: absolute;
	width: 600px;
	height: 600px;
	bottom: -115%;
    left: 29%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(elipse.png);
	z-index: -99999 !important;
    -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
}

